
  
  .delete {
    max-width: 380px;
    height: 75vh;
    margin: 20px auto;
    padding: 30px 25px;
    background-color: #ffffff;
    border-radius: 18px;
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.08);
    font-family: "Segoe UI", "Noto Sans KR", sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: center;
  }

  h4 {
    text-align: left;
    margin-top: 100px;
    margin-bottom: 5px;
  }
  
  .pwcheck {
    width: 90%;
    height: 35px;
    padding: 5px 10px;
    margin-left: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .check {
    background-color: #4A90E2;
    color: white;
    padding: 12px 0;
    border: none;
    border-radius: 18px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.25s ease, transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    margin-top: 30px;
  }
  
  .down-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 90%;
    background-color: #DCDCDC;
    padding: 10px 0;
    z-index: 999;
  }
  
  .selectbtn {
    display: flex;
    justify-content: space-around;
  }
  
  .btn2 {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
  }
  