.pw-change-container {
  max-width: 380px;
  height: 75vh;
  margin: 20px auto;
  padding: 30px 25px;
  background-color: #ffffff;
  border-radius: 18px;
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.08);
  font-family: "Segoe UI", "Noto Sans KR", sans-serif;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
}


/* 제목 스타일 */
.set4 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
}

/* 폼 섹션 */
.form-section {
  width: 100%;
}



.input-field-custom .MuiOutlinedInput-root {
  padding: 0;
  border-radius: 10px;
  font-size: 14px;
  height: 48px; /* 높이 고정 */
  display: flex;
  align-items: center; /* 세로 정렬 핵심 */
}


.input-field-custom1 .MuiOutlinedInput-root {
  padding: 0;
  border-radius: 10px;
  font-size: 14px;
  height: 48px; /* 높이 고정 */
  display: flex;
  align-items: center; /* 세로 정렬 핵심 */
  margin-bottom: 30px;
}

.input-field-custom .MuiInputBase-input {
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.4;
}

.input-field-custom .MuiOutlinedInput-notchedOutline {
  border: 2px solid #D1D5DB;
}

.input-field-custom .Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #4A90E2;
}